{% extends 'base/base03_nav.html' %}

{% block top_nav %}
{% endblock %}



{% block content %}
  <div class="content-wrapper">

    <section class="content">


        <div class="col-sm-12">

            <div class="col-sm-12">
                <br>
                <iframe src="http://101.133.238.216:4200/?prj_name=prj123" frameborder="0" width="100%" height="800px"></iframe>            
            </div>


        </div>
    </section>
  </div>

{% endblock %}




{% block script_foot %}

{% endblock %}