<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script type="text/javascript" src="/static/lvjinya/js/main.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script src="/static/lte/plugins/jquery/jquery.min.js"></script>

{% block script %}
{% endblock %}
</head>
<body>

{% block page_wrapper %}
{% endblock %}


{% block script_foot %}
{% endblock %}
</body>

</html>
