<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DwAdmin</title>

  <link rel="stylesheet" href="/static/lte/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/static/lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/lte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Dw</b>Admin</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">登录</p>

      <form action="{{url_for('login', username=username, password=password)}}" method="POST">
        <div class="form-group">
          <input type="username" name="username" placeholder="用户名" class="form-control rounded input-lg text-center no-border">
        </div>
        <div class="form-group">
           <input type="password" name="password" placeholder="密码" class="form-control rounded input-lg text-center no-border">
        </div>
        <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">登录</span></button>
        <div class="text-center m-t m-b"><a href="#"><small>{{reback}}</small></a></div>
<!--           <div class="line line-dashed"></div>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a href="signup.html" class="btn btn-lg btn-info btn-block rounded">Create an account</a> -->
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/static/lte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/lte/dist/js/adminlte.min.js"></script>
</body>
</html>
