
{% extends 'base/base02.html' %}

{% block vbox %}
<a id="file_name" value="1"></a>

<div class="col-sm-2">
    <div class="col-sm-12">
        <header class="panel-heading bg-light no-border">
            <div class="clearfix">
                <div class="h3 m-t-xs m-b-xs">
                  <a style="font-size:22px">项目信息</a>
                  <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                </div>
            </div>
        </header>
        
        <div class="list-group">
          <a href="#" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <span class="badge bg-info">list1</span>
            <i class="fa fa-bell icon-muted fa-fw"></i>&emsp;项目总数
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <span class="badge bg-danger">list2</span>
            <i class="fa fa-clock-o icon-muted fa-fw"></i>&emsp;运行成功项目
          </a>
          <a href="#" class="list-group-item">

            <i class="fa fa-chevron-right icon-muted"></i>
            <span class="badge bg-primary">list3</span>
            <i class="fa fa-clock-o icon-muted fa-fw"></i>&emsp;最近项目
            
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <span class="badge bg-success">list4</span>
            <i class="fa fa-clock-o icon-muted fa-fw"></i>&emsp;最近项目订单数
          </a>
        </div>
    </div>
    <div class="col-sm-12">

        <header class="panel-heading bg-light no-border">
            <div class="clearfix">
                <div class="h3 m-t-xs m-b-xs">
                  <a style="font-size:22px">使用说明</a>
                  <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                </div>
            </div>
        </header>

        <div class="list-group">
          <a href="https://flask-file-manage-1257726623.cos.ap-shanghai.myqcloud.com/lvjinya/p_work_dw_APS%E4%BA%A7%E5%93%81%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E.pdf" class="list-group-item" target="_blank">
            进入项目列表,新增项目,管理项目数据,运行和查看结果...more
          </a>
        </div>
    </div>

    <div class="col-sm-12">
        <header class="panel-heading bg-light no-border">
            <div class="clearfix">
                <div class="h3 m-t-xs m-b-xs">
                  <a style="font-size:22px">算法说明</a>
                  <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                </div>
            </div>
        </header>

        <div class="list-group">
          <a href="https://flask-file-manage-1257726623.cos.ap-shanghai.myqcloud.com/lvjinya/p_work_dw_APS%E4%BA%A7%E5%93%81%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E.pdf" class="list-group-item" target="_blank">

            详细细节参考...more

          </a>
        </div>
    </div>

    <div class="col-sm-12">
        <header class="panel-heading bg-light no-border">
            <div class="clearfix">
                <div class="h3 m-t-xs m-b-xs">
                  <a style="font-size:22px">其他</a>
                  <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                </div>
            </div>
        </header>
        <div class="list-group">
          <a href="https://flask-file-manage-1257726623.cos.ap-shanghai.myqcloud.com/lvjinya/p_work_dw_APS%E4%BA%A7%E5%93%81%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E.pdf" class="list-group-item" target="_blank">

            详细细节参考...more

          </a>
        </div>
    </div>

    <div class="col-sm-12">
        <header class="panel-heading bg-light no-border">
            <div class="clearfix">
                <div class="h3 m-t-xs m-b-xs">
                  <a style="font-size:22px">其他2</a>
                  <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                </div>
            </div>
        </header>
        <div class="list-group">
          <a href="https://flask-file-manage-1257726623.cos.ap-shanghai.myqcloud.com/lvjinya/p_work_dw_APS%E4%BA%A7%E5%93%81%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E.pdf" class="list-group-item" target="_blank">

            详细细节参考...more

          </a>
        </div>
    </div>

</div>

<div class="col-sm-6">
<div class="col-12 col-lg-12">
    <header class="panel-heading bg-light no-border">
        <div class="clearfix">
            <div class="h3 m-t-xs m-b-xs">
              <a style="font-size:22px"  href="/bulma_table/db_tb?tb_name=scheduling_projects____prj_main">排产项目列表</a>
              <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
            </div>
        </div>
    </header>
    
    <table class="table table-striped m-b-none">
      <thead>
        <tr>
            <th>字段1</th>
            <th>字段2</th>
        </tr>
      </thead>

      <tbody>
        <tr>
            <td><a href="#">more1...</a></td>
            <td><a href="#">more2...</a></td>
        </tr>
      </tbody>
          
    </table>
</div>

    <div class="col-12 col-lg-12">
          <header class="panel-heading bg-light no-border">
              <div class="clearfix">
                  <div class="h3 m-t-xs m-b-xs">
                    <a href="#" style="font-size:22px">
                  模块1</a>
                    <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                  </div>
             
              </div>
          </header>
          <div id="container_95" style="height: 600px"></div>
    </div>

</div>


<div class="col-sm-4">
    <div class="col-sm-12">
          <header class="panel-heading bg-light no-border">
              <div class="clearfix">
                  <div class="h3 m-t-xs m-b-xs">
                    <a href="#" style="font-size:22px">模块2</a>
                    <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                  </div>
             
              </div>
          </header>
          <div id="container_73" style="height: 820px">  </div>
    </div>

    <div class="col-sm-12">
          <header class="panel-heading bg-light no-border">
              <div class="clearfix">
                  <div class="h3 m-t-xs m-b-xs">
                    <a href="/v_echarts/json_file?file_path=echarts_data/echarts_json01/bar.json" style="font-size:22px">预留2</a>
                    <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                  </div>
                  
              </div>
          </header>
         后续完善中...
<!--           <div id="container_75" style="height: 600px"> </div>  -->
    </div>

</div>


{% endblock %}


{% block script_foot %}

<script type="text/javascript">

function get_my_data_95() {
    var datas= null;//定义一个全局变量
    $.ajax({
        type:"GET",
        url:"/v_echarts_scheduling/order_sankey",
        async:false,
        data:"",
        success:function(res){
            // 获取数据并保存至变量
            // console.log(res)
            datas = res;
            }
        });
    return datas
}

var mydata_95 = get_my_data_95();

var nodes = mydata_95.nodes;
var links = mydata_95.links;
var dom = document.getElementById('container_95');
var chart_95 = echarts.init(dom);
var app = {};




var option = {
    tooltip: {
        trigger: 'item',
        triggerOn: 'mousemove',
    },
    series: {
        type: 'sankey',
        layout: 'none',
        top: 10,
        left: 0,
        right: 100,
        nodeGap: 14,
        // layoutIterations: 0, // 自动优化列表，尽量减少线的交叉，为0就是按照数据排列
        data: nodes, // 节点
        links: links, // 节点之间的连线
        draggable: true,
        focusNodeAdjacency: 'allEdges', // 鼠标划上时高亮的节点和连线，allEdges表示鼠标划到节点上点亮节点上的连线及连线对应的节点
        tooltip: {
          formatter: function(params) {
            if (params.data.source) {
              return `${params.data.source}：${params.data.value}`;
            } else {
              return `${params.name}：${params.value}`;
            }
          }
        },
        levels: [
            {
                depth: 0,
                itemStyle: {
                    color: '#F27E7E',
                },
                lineStyle: {
                    color: 'source',
                    opacity: 0.2,
                },
            },
            {
                depth: 1,
                lineStyle: {
                    color: 'source',
                    opacity: 0.2,
                },
            },
            {
                depth: 2,
                lineStyle: {
                    color: 'source',
                    opacity: 0.2,
                },
            },
            {
                depth: 3,
                label: {
                    fontSize: 12,
                },
            },
            {
                depth: 4,
                label: {
                    fontSize: 12,
                },
            },
            {
                depth: 5,
                label: {
                    fontSize: 12,
                },
            },
            {
                depth: 6,
                label: {
                    fontSize: 12,
                },
            },
        ],
        label: {
            fontSize: 14,
            color: '#666',
        },
        itemStyle: {
            normal: {
                borderWidth: 0,
            },
        },
    },
};


if (option && typeof option === "object") {
    chart_95.setOption(option, true);
    window.addEventListener("resize",function(){
        chart_95.resize();
    });

}


var dom = document.getElementById('container_73');
var chart_73 = echarts.init(dom);
var app = {};
option = {
    tooltip: {
        trigger: 'axis',
        show: false,
        axisPointer: { // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
        },
    },
    legend: {
        selectedMode: false,
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [{
        splitLine: {
            show: false
        },
        type: 'value',
        show: false,
    }],
    yAxis: [{
        splitLine: {
            show: false
        },
        axisLine: { //y轴
            show: false
        },
        type: 'category',
        axisTick: {
            show: false
        },
        data: ['宝洁8月1日', '宝洁8月2日', '宝洁8月3日', '宝洁8月4日', '宝洁8月5日', '宝洁8月6日', '宝洁8月7日'],
        axisLabel: {

        }
    }],

    visualMap: [{
        dimension: 0,
        left: 10,
        itemWidth: 12,
        min: 0,
        max: 100,
        text: ['High', 'Low'],
        textStyle: {
            color: '#ddd'
        },
        inRange: {
            color: ['red', 'orangered', 'yellow','lightskyblue']
        }
    }],

    series: [{
        name: '订单进度',
        type: 'bar',
        barWidth: 50, // 柱子宽度
        label: {
            show: true,
            position: 'right', // 位置
            color: '#1CD8A8',
            fontSize: 14,
            fontWeight: 'bold', // 加粗
            distance: 5 // 距离
        }, // 柱子上方的数值
        itemStyle: {
            barBorderRadius: [0, 20, 20, 0], // 圆角（左上、右上、右下、左下）
            color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                '#2FAEF2', '#1CD8A8'
            ].map((color, offset) => ({
                color,
                offset
            }))), // 渐变
        },
        data: [5, 100, 80, 10, 50, 57, 35]
    }, ]
};

if (option && typeof option === "object") {
    chart_73.setOption(option, true);
    window.addEventListener("resize",function(){
        chart_73.resize();
    });

}


</script>
{% endblock %}