
{% extends 'base/openurl.html' %}

{% block page_wrapper %}
<div class="panel-body"><div id="container" style="height: 950px"></div></div>
<a id="year" value="{{param.year}}"></a>
<a id="prj_name" value="{{param.prj_name}}"></a>
<a id="ssp" value="{{param.ssp}}"></a>
{% endblock %}

{% block script_foot %}


<script type="text/javascript">
var year = document.getElementById('year').attributes["value"].value;
var prj_name = document.getElementById('prj_name').attributes["value"].value;
var ssp = document.getElementById('ssp').attributes["value"].value;


    function get_my_data_3() {
        var datas= null;//定义一个全局变量
        $.ajax({
            type:"GET",
            url:"/sjtu_carbon_emission/bar_group_china_col?year="+year+"&prj_name="+prj_name+"&ssp="+ssp,
            async:false,
            data:"",
            success:function(res){
                // 获取数据并保存至变量
                // console.log(res)
                datas = res;
                }
            });
        return datas
    }

    var mydata_3 = get_my_data_3();
    console.log('testsssssssssssssssssssssssssss', mydata_3)

    var dom = document.getElementById('container');
    var chart_3 = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        textStyle: {
          fontFamily: 'times new roman',
          fontSize:20,
          color: "black",
        },
        
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            },
            textStyle : {
                color: 'black',
                decoration: 'none',
                fontFamily: 'Verdana, sans-serif',
                fontSize: 20,
                // fontStyle: 'italic',
                // fontWeight: 'bold'
            },
        },
        xAxis: {
            type: 'category',
            data: mydata_3.xAxis_data,
            axisLabel: {
               show: true,
                textStyle: {
                  fontSize : 18      //更改坐标轴文字大小
                }
             },
        },
        legend: {
            data: mydata_3.legend_data,
            // icon: 'rectangle',
            right: '4%',
            padding:[20,0,0,0],   //可设定图例[距上方距离，距右方距离，距下方距离，距左方距离]
            textStyle: {
                fontSize: 20,
                color: "black"
            }    
        },

        yAxis: {
            type: 'value',
            splitLine: {show : false},             
            axisTick:{ show:true,},   //y轴刻度线
            axisLine:{ show:true,},    //y轴
            axisLabel: {
                    textStyle: {
                        fontSize: 18,
                        color:  "black"
                    }
              },
            min:0
        },
        grid:{
            x: 100,
            y: 30,
            x2: 50,
            y2: 50
          },
        series: mydata_3.series,
        backgroundColor:'white', //设置无背景色    
        toolbox:{
                show: true,
                feature: {
                  myFull: {
                    show: true,
                    title: '全屏查看',
                    icon: "path://M432.45,595.444c0,2.177-4.661,6.82-11.305,6.82c-6.475,0-11.306-4.567-11.306-6.82s4.852-6.812,11.306-6.812C427.841,588.632,432.452,593.191,432.45,595.444L432.45,595.444z M421.155,589.876c-3.009,0-5.448,2.495-5.448,5.572s2.439,5.572,5.448,5.572c3.01,0,5.449-2.495,5.449-5.572C426.604,592.371,424.165,589.876,421.155,589.876L421.155,589.876z M421.146,591.891c-1.916,0-3.47,1.589-3.47,3.549c0,1.959,1.554,3.548,3.47,3.548s3.469-1.589,3.469-3.548C424.614,593.479,423.062,591.891,421.146,591.891L421.146,591.891zM421.146,591.891",

                    onclick: (e) => {
                      const element = document.getElementById("container");
                      if (element.requestFullScreen) { // HTML W3C 提议
                            element.requestFullScreen();
                          } else if (element.msRequestFullscreen) { // IE11
                            element.msRequestFullScreen();
                          } else if (element.webkitRequestFullScreen) { // Webkit (works in Safari5.1 and Chrome 15)
                            element.webkitRequestFullScreen();
                          } else if (element.mozRequestFullScreen) { // Firefox (works in nightly)
                            element.mozRequestFullScreen();
                          }
                      // 退出全屏
                      if (element.requestFullScreen) {
                            document.exitFullscreen();
                          } else if (element.msRequestFullScreen) {
                            document.msExitFullscreen();
                          } else if (element.webkitRequestFullScreen) {
                            document.webkitCancelFullScreen();
                          } else if (element.mozRequestFullScreen) {
                            document.mozCancelFullScreen();
                          }


                    },
                  },
                },
              },

    };


    if (option && typeof option === "object") {
        chart_3.setOption(option, true);
        window.addEventListener("resize",function(){
            chart_3.resize();
        });

    }
</script>
{% endblock %}