
{% extends 'base/openurl.html' %}

{% block page_wrapper %}
<div class="panel-body"><div id="container_74" style="height: 980px"></div></div>
{% endblock %}


{% block script_foot %}

<script  type="text/javascript">

function get_my_data_73() {
    var datas= null;//定义一个全局变量
    $.ajax({
        type:"GET",
        url:"/t100_echarts/staff_work_order_compare?col_name=sfaacrtid",
        async:false,
        data:"",
        success:function(res){
            // 获取数据并保存至变量
            // console.log(res)
            datas = res;
            }
        });
    return datas
}

var mydata_73 = get_my_data_73();
console.log('mydata..........', mydata_73)
var myColor = mydata_73.c_list;
var dom = document.getElementById('container_74');
var chart_73 = echarts.init(dom);
var app = {};
option = {
    title: {
        text: '员工历史维护的工单数量对比',
        subtext: '筛选条件为数量大于5'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: ['人员维护订单数量对比']
    },
    grid: {
        top:'5%',
        left: '1%',
        right: '1%',
        bottom: '1%',
        containLabel: true
    },

    xAxis: {
        type: 'value',
        // boundaryGap: [0, 0.01],
        // max:100
    },
    yAxis: {
        type: 'category',
        data: mydata_73.k_list
    },

    series: [
        {
            name: mydata_73.k_list,
            type: 'bar',
            showBackground: true,
            data: mydata_73.v_list,
            barWidth: 12,
            itemStyle: {
                normal: {
                    color: function(params) {
                        var num = myColor.length;
                        return myColor[params.dataIndex % num]
                    },
                }
            },            


        },


    ],
    toolbox:{
            show: true,
            feature: {
              myFull: {
                show: true,
                title: '全屏查看',
                icon: "path://M432.45,595.444c0,2.177-4.661,6.82-11.305,6.82c-6.475,0-11.306-4.567-11.306-6.82s4.852-6.812,11.306-6.812C427.841,588.632,432.452,593.191,432.45,595.444L432.45,595.444z M421.155,589.876c-3.009,0-5.448,2.495-5.448,5.572s2.439,5.572,5.448,5.572c3.01,0,5.449-2.495,5.449-5.572C426.604,592.371,424.165,589.876,421.155,589.876L421.155,589.876z M421.146,591.891c-1.916,0-3.47,1.589-3.47,3.549c0,1.959,1.554,3.548,3.47,3.548s3.469-1.589,3.469-3.548C424.614,593.479,423.062,591.891,421.146,591.891L421.146,591.891zM421.146,591.891",

                onclick: (e) => {
                  const element = document.getElementById("container_74");
                  if (element.requestFullScreen) { // HTML W3C 提议
                        element.requestFullScreen();
                      } else if (element.msRequestFullscreen) { // IE11
                        element.msRequestFullScreen();
                      } else if (element.webkitRequestFullScreen) { // Webkit (works in Safari5.1 and Chrome 15)
                        element.webkitRequestFullScreen();
                      } else if (element.mozRequestFullScreen) { // Firefox (works in nightly)
                        element.mozRequestFullScreen();
                      }
                  // 退出全屏
                  if (element.requestFullScreen) {
                        document.exitFullscreen();
                      } else if (element.msRequestFullScreen) {
                        document.msExitFullscreen();
                      } else if (element.webkitRequestFullScreen) {
                        document.webkitCancelFullScreen();
                      } else if (element.mozRequestFullScreen) {
                        document.mozCancelFullScreen();
                      }


                },
              },
            },
          },


};





if (option && typeof option === "object") {
    chart_73.setOption(option, true);
    window.addEventListener("resize",function(){
        chart_73.resize();
    });

}

// chart_73.on('click', function (param) {

//        console.log('ttttttttttttttttt1', param);//打印查看获取到的数据
//        console.log('ttttttttttttttttt1', param.name);//打印查看获取到的数据
//        openurl("http://www.baidu.com");//自己的链接并拼接id跳转
//         });

</script>

{% endblock %}